<div class="min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Forgot Password</h3>
            <p class="text-muted text-center">
              Enter your email to reset your password
            </p>

            <!-- Forgot Password Form -->
            <form method="post" action="/auth/forgot-password">
              <div class="form-group">
                <label for="email" class="py-2">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter your email"
                  name="email"
                  required
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-block w-100 mt-3"
              >
                Reset Password
              </button>
            </form>
            <!-- End Forgot Password Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
